body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}
header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}
header nav {
    text-align: center;
    margin-top: 10px;
}
header nav ul {
    list-style: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 10px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}
aside {
    float: left;
    width: 25%;
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
aside img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
aside h2 {
    text-align: center;
    margin-top: 10px;
}
aside p, .contact-info {
    text-align: center;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.contact-info li {
    margin-bottom: 10px;
}
.contact-info a {
    color: #35424a;
    text-decoration: none;
}
main {
    float: right;
    width: 60%;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-height: 600px; /* 确保主要内容区至少有一定的高度 */
}
section {
    margin-bottom: 20px;
}
h2 {
    border-bottom: 2px solid #e8491d;
    padding-bottom: 5px;
}
ul
