body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}
aside {
    float: left;
    width: 25%;
    margin-top: 10px;
    background: #ffffff;
    padding: 20px;
}
aside img {
    border-radius: 50%;
    width: 100%;
}
aside h2 {
    text-align: center;
}
.contact-info {
    list-style: none;
    padding: 0;
}
main {
    float: right;
    width: 70%;
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
}
section {
    margin-bottom: 20px;
}
h2 {
    border-bottom: 2px solid #e8491d;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
